.item {
	margin-top: 20px;

}

.item, h5 {
	margin-left: 20px;
}

.content button {
	float: right;
}

.buttoncontainer {
	display: flex;
	justify-content: space-between;
}

.list-button {
	transform: translateY(-25px);
}

.btn {
	box-shadow: 0 0 0 0 rgba(0,0,0,1);
	transform: scale(1);
	animation: pulse 0.7s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 10px rgba(0,0,0,0.7);
	}
	70% {
		transform: scale(1.05);
		box-shadow: 0 0 0 10px rgba(0,0,0,0);
	}
	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0,0,0,0);
	}
}



/*.pulse-grow {
	display: inline-block;
	vertical-align: margin-left;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0,0,0,0);
}

.pulse-grow:focus,

.pulse-grow:active {
	-webkit-animation-name: pulse-grow;
	animation-name: pulse-grow;
	-webkit-animation-duration: 0.3s;
	animation-duration: 0.3s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	animation-direction: alternate;
}*/